header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-right: 20px;
    box-sizing: border-box;
}

.logo-container {
    width: auto;
}

.main-nav-logo-image {
    width: 200px;
}


nav a {
    text-decoration: none;
    color: #2c3e50;;
}

.main-nav-link {
display: flex;
gap: 10px;
}

nav a svg{
    padding: 0 5px;
}

